body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100vh;
}

.container {
  width: 75%;
  margin: auto;
}

.stick-to-bottom {
  position: sticky;
  right: 0;
  bottom: 0;
}

main {
  position: relative;
}

footer {
  position: sticky;
  bottom: 0;
}

.container {
  width: 75%;
  margin: auto;
}

.row {
  margin-left: 20px;
  outline: 1px black solid;
}
